# Dependencies
node_modules/
/.pnp
.pnp.js

# Production Build Output
dist/
build/

# Environment Variables & Secrets
.env

# Editor Configurations & IDEs
.vscode/

# Raw Project Documents 
docs/
candidate-imgs/

# Logs
logs
